name: survicate_flutter_sdk_example
description: Demonstrates how to use the survicate_flutter_sdk plugin.
publish_to: 'none'

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  survicate_flutter_sdk:
    path: ../

  cupertino_icons: 1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true